*{
    margin: 0;
    padding: 0;
     box-sizing:border-box ;
     
   
  
}
.header_section nav ul{
    display: flex;
  height: 70px;
    justify-content: end;
    align-items: end;
    gap: 20px;
  background-color: white;
     padding: 15px;
       

   
}
.header_section nav ul li {

    list-style: none;
    color: black;
   
}.header_section nav ul li a{
    text-decoration: none;
    background-color: white;
    
}
.hero_section div div img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: left;

}.hero_section  div  {
  display: flex;
 justify-content: left;
 gap: 40px;


}.hero_section  div div{
  display: block;
  justify-content:flex-end;
 padding: 25px;

}

.hero_section div div p{
font-size: 30px;
  font-family: monospace;
  padding: 20px;
}.hero_section div div button {
  background-color: blue;
 border-style: none;
  padding: 10px;
  border-radius: 5px;
}.hero_section div div button a{
border-style: none;
   text-decoration:none;
   background-color: blue;
   color: whitesmoke;
}#ab{
  text-align:center ;
  padding: 40px;
    background-color:whitesmoke;
}.about_section{
  background-color:whitesmoke;


}.hero_section div span{
  color: blue;
}
.hero_section{
  background-color:rgb(235, 248, 244);
  padding: 30px;
  justify-content: space-between;
 
}
.about_section div {
  display: flex;
}.about_section div div{
display: block;
margin-left: 170px;
}.about_section div  div ul{
  
display: flex;
gap: 20px;
padding: 10px;
flex-wrap: wrap;
list-style: none;
font-size: 30px;
}.about_section div  div ul li{
  font-size: 20px;
  gap: 6px;
  text-transform: capitalize;
  background: #e5e5e9;
  border-radius: 20px;
  padding: 5px;

}.about_section div  div p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left:  20px;
  padding-right: 20px;
  font-size: 20px;

}.project_section{
  background-color: whitesmoke;
}.project_section h1{
  text-align: center;
}.project_section  div{
  display: flex;
  background-color: whitesmoke;
  gap: 190px;
  padding: 20px;
}.project_section  div img{
width: 300px;
height: 200px;
border-radius: 25px;
}.para_section {
  background-color: whitesmoke;
}.para_section div{
  display: flex;
  gap: 70px;
  padding: 15px;
}
.button_section{
  background-color: whitesmoke;
}.button_section div{
  display: flex;
  gap:400px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}.button_section div button{
  background-color: rgb(247, 231, 231);
  
  
  border-radius: 10px;
margin-bottom: 60px;
padding: 3px;
}.button_section div button a{
  text-decoration: none;
  font-size: medium;
}.contact_section {
  background-color: rgb(217, 243, 234);
  height: 300px;
}.contact_section div{
  text-align: center;
  padding: 30px;
}.contact_section div div input{
  padding: 3px;
  height: 30px;
  width: 250px;
  border-style: none;
}

