*{
    margin: 0;
    padding: 0;
     box-sizing:border-box ;
   
  
}
.header_section nav ul{
    display: flex;
  height: 70px;
    justify-content: end;
    align-items: end;
    gap: 20px;
  background-color: white;
     padding: 15px;
       

   
}
.header_section nav ul li {

    list-style: none;
    color: black;
   
}.header_section nav ul li a{
    text-decoration: none;
    background-color: white;
    
}
.hero_section div div img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  display: flex;
  justify-content: left;

}.hero_section  div  {
  display: flex;
 justify-content: left;
 gap: 40%


}.hero_section  div div{
  display: block;
  justify-content: left;
 padding: 25px;

}

.hero_section div div p{
font-size: 30px;
  font-family: monospace;
  padding: 20px;
}.hero_section div div button {
  background-color: blue;
 border-style: none;
  padding: 10px;
  border-radius: 5px;
}.hero_section div div button a{
border-style: none;
   text-decoration:none;
   background-color: blue;
   color: whitesmoke;
}#ab{
  text-align:center ;
  padding: 40px;
    background-color:whitesmoke;
}.about_section{
  background-color:whitesmoke;


}.hero_section div span{
  color: blue;
}
.hero_section{
  background-color:rgb(235, 248, 244);
  padding: 30px;
  justify-content: space-between;
 
}
.about_section div {
  display: flex;
}.about_section div div{
display: block;
}.about_section div div {
  margin-left: 170px;
}.about_section div  div ul{
  
display: flex;
gap: 20px;
padding: 10px;
flex-wrap: wrap;
list-style: none;
size: 40px;
}.about_section div  div ul li{
  font-size: 20px;
  gap: 6px;
  text-transform: capitalize;
  background: #e5e5e9;
  border-radius: 20px;
  padding: 5px;

}.about_section div  div p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;

}.project_section{
  background-color: whitesmoke;
}.project_section h1{
  text-align: center;
}.project_section div{
  display: flex;
  size: 30px;
  
}